@import "tailwindcss";

@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/forms';
@import "tailwindcss-animated";
@import "tailwindcss-intersect";

@theme {
  /* Her tilføjes theme variable // tokens */

  /*Farver */

  /* lightyellow */
  --color-lightyellow-500: #f9f7ee;

  /* pink */
  --color-pink-100: #fae6ec;
  --color-pink-300: #f4b1c7;
  --color-pink-600: #dd3a84;

  /* lightblue */
  --color-lightblue-50: #edf4ff;
  --color-lightblue-200: #b2d5ff;
  --color-lightblue-700: #01588a;

  /* forestgreen */
  --color-forestgreen-400: #9bad00;

  /* yellow */
  --color-yellow-400: #ffb953;

  /* green */
  --color-green-400: #0aad7e;

  /* lilla */
  --color-lilla-200: #b7beed;
  --color-lilla-500: #4662c7;
  --color-lilla-700: #293a7d;

  /* orange */
  --color-orange-500: #f96640;

  /*Typografi */
  --font-display: "Merriweather Sans", sans-serif;
}

@layer base {
}

@layer components {
}

@layer utilities {
}
