---
import MainLayout from "../layouts/MainLayout.astro";
import Heading from "../components/Heading.astro";
import Text from "../components/Text.astro";
import Button from "../components/Button.astro";
---
<MainLayout title="Homepage">
	<main class="container mx-auto p-4">

		<Heading htmlheading="h1" size="large" stylingclasses="text-orange-500">DET ER GRATIS AT LOGGE IND!</Heading>
		<!-- når man ikke definere værdierne, får heading de default værdier som du finder inde i headin komponent -->
		<Heading>Børnebiffen - et trygt, kurateret filmunivers med håndplukkede kortfilm til de mindste!</Heading>

		<Heading htmlheading="h3" size="medium">Hent vores app!</Heading>

        <Text teksttype="brødtekst">Til tablet og mobil - så kan børnene selv være med.</Text>
<Button variant="secondary">LOG IND</Button>
            
	</main>
</MainLayout>