---
import CardList from "../components/CardList.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Overblik">
  <section>
    <CardList />
  </section>
</MainLayout>
