---
// Henter parametrene fra Astro.props
const { variant= "primary"} = Astro.props; 
 
//Definer den styling (Tailwind classes, der gør sig gældende for alle knapper)
const buttonStyling = "relative px-8 py-2 lg:px-12 lg:py-3 text-large lg:text-xl rounded-full font-display text-lightyellow-500 transition-[transform,box-shadow] duration-150 ease-in-out focus:outline-none"; 
 
//Definer den styling (Tailwind classes), der gør sig gældende for de forskellige varianter 
const variantClasses = {
"primary": "bg-pink-600 shadow-[8px_8px_0_#F4B1C7] active:translate-y-2 active:shadow-[0px_0px_0_#F4B1C7]", /* pink log ind knappen */
"secondary": "bg-lilla-500 shadow-[8px_8px_0_#B7BEED] active:translate-y-2 active:shadow-[0px_0px_0_#B7BEED]" /* lilla log ind knappen */
};
---
<!--Sæt classes for den pågældende knap sammen ved hjælp af Astros class:list -->
<button class:list={[buttonStyling, variantClasses[variant]]} type="button" aria-pressed="false"><slot /></button>