---
const { src, cardTitle, cardInfo } = Astro.props;
import Text from "../components/Text.astro";
import Heading from "../components/Heading.astro";
import Button from "../components/Button.astro";
import { Image } from "astro:assets";
---

<section>
  <div class="card bg-lightblue-600 w-96 shadow-sm">
    <figure>
      <Image src={src} alt="Kortfilm" />
    </figure>
    <div class="card-body">
      <Heading class="card-title" stylingclasses="text-lightyellow-500" htmlheading="h4" size="xsmall">{cardTitle}</Heading>
      <div class="card-actions justify-between items-center">
        <Text stylingclasses="text-lightyellow-500" teksttype="brødtekst">{cardInfo}</Text>
        <Button class="btn btn-primary">Start</Button>
      </div>
    </div>
  </div>
</section>
